@font-face {
    font-family: regularfont;
    src: url(assets/Epilogue-Regular.woff);
}
@font-face {
    font-family: boldfont;
    src: url(assets/Epilogue-Bold.woff);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    display: grid;
    place-items: center;
    font-family: regularfont;
}

:root{
    --very-dark-color: rgb(23 35 57);
    --dark-color: rgb(73 86 109);
    --neutral-color: rgb(243 237 231);
    --accent-color: rgb(250 248 246);
    --top-color: rgb(160 96 255);
    --middle-color: rgb(203 48 227);
    --bottom-color: rgb(255 168 78);

}
.container{
    margin: 1rem;
    max-width: 400px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
button{
    padding: 1rem;
    border: 1px solid var( --very-dark-color);
    background-color: white;
    border-radius: 0.5rem;
    width: 182px;
    height: 48px;
   
}
main{
    margin-top: 3rem;
}
.mission-statement{
    font-size: 38px;
    color: var(--very-dark-color);
    width: 343px;
    height: 89px;
    line-height: 44px;
}
bold {
    font-weight: bold;
    font-family: boldfont;
}
.curve-line {
    margin-left: 10rem;
    width: 100px;
}
img .curve {
    width: 100%;
}
span {
    font-weight: 300;
}
.quote1 {
    font-size: 16px;
    line-height: 28px;
    margin: 2rem 0;
    font-weight: 300;
    color: var(--dark-color);
    width: 343px;
    height: 84px;
    left: 16px;
}
.mission-btn {
    color: var(--accent-color);
    background-color: var(--very-dark-color);
    width: 256px;
    height: 61px;
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    line-height: 32px;
    letter-spacing: -0.18px;
}
.hero {
    margin: 3rem auto;
}
.hero img {
    width: 100%;
    height: auto;
}
.tablet-hero-img-container, .desktop-hero-img-container, .desktop-stats, .jeremy-img-container-big{
    display: none;
}


.stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 16rem;
    margin: 3rem auto;
}
.bolded-text {
    font-size: 35px;
    font-weight: bold;
    font-family: boldfont;
    color: var(--very-dark-color);
}
.stats-text {
    text-transform: uppercase;
    color: var(--dark-color);
    font-weight: 300;
}
.white-space {
    height: 11rem;
}
.testimonial {
    width: 100%;
    position: relative;
    background-color: var(--very-dark-color);
    color: var(--accent-color);
    border-radius: 0.7rem;

}
.testimonial-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;

}
.jeremy-img-container {
    width: 65%;
    position: absolute;
    left: 4.5rem;
    top: -10rem;

}
.blurred-bg {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: -10rem;
    
   

}
.curve-line-2 {
    width: 15%;
    margin-bottom: 2rem;
    margin-top: -7rem;

}
.desktop-testimonial-2 {
    text-align: center;
}
.testimonial-title {
    font-size: 32px;
    letter-spacing: 0.5px;
    margin-bottom: 2rem;
    line-height: 25px;
}
.testimonial-body {
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    text-align: center;
    padding: 5rem 0;
    letter-spacing: 0.09px;
    
    
}
.testimonial-name {
    margin-bottom: 3rem;
    text-align: center;
    line-height: 32px;
    margin-top: 3rem;


}
.upcase-bold {
    text-transform: uppercase;
    font-weight: bold;

}
.upcase-regular {
    text-transform: uppercase;
    font-weight: 300;
}
footer {
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4rem;
    height: 17rem;
    background-color: var(--neutral-color);
    color: var(--very-dark-color);

}
.footer-logo {
    width: 30%;


}
#copyright {
    text-transform: capitalize;
    color: var(--dark-color);

}
.links ul {
    width: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

}



@media screen and (min-width: 600px){
    .container{min-width: 600px; margin-bottom: 2px;}
    .tablet-config {display: flex; margin: 0; align-items: center;}
    .mission{height: min-content; position: relative; top: 4rem;}
    .main-header{position: absolute; width: 31rem; top: -8.5rem;}
    .curve-line{margin-left: 11.5rem; width: 200px;}
    .mission-statement{font-size: 56px; 
        font-weight: 400; 
        width: 500px;
        height: 129px;
        line-height: 64px;
        letter-spacing: -0.777778px;
    }
    .mobile-hero-img {display: none;}
    .tablet-hero-img-container{display: block; width: 15rem; margin-left: 1.5rem;}
    .stats{
        height: auto;
        flex-direction: row;
        justify-content: space-around;
    }
    .blurred-bg{
        margin-left: -1rem;

    }
   
    .white-space{margin-top: 90px;}
    .jeremy-img-container{width: 54%; left: 12rem;}
    .testimonial-title{font-size: 40px;}
    footer{
        flex-direction: row; 
        justify-content: space-between;
        padding: 0;
        margin: 0;
        height: 12rem;
    }
    .footer-logo{width: 85px;}
    .background{
        width: 900px;
        position: absolute;
        height: 730px;
        top: 1325px;
        z-index: -1;
        background-color: var(--neutral-color);

    }
}

  


@media  screen and (min-width: 1024px){
    .container{min-width: 1024px;}
    .header-btn:hover {
        background-color: var(--very-dark-color);
        color: var(--accent-color);
    }
    .mission-btn:hover {
        background: linear-gradient(to bottom right, #CB30E3 60%, #FFA84E);
        border: none;
    }
    .curve-line-2{
       width: 10%;
       margin-left: 5rem;
    }
    .desktop-view{display: flex; justify-content: space-between; width: 100%;}
    .tablet-config{margin-left: 0; padding: 0;}
    .main-header{width: 38rem; top: -12rem;}
    .curve-line{margin-left: 17rem; width: 260px;}
    .mission-statement{
        font-size: 70px; 
        width: 620px; 
        height: 156px;
        line-height: 78px;
        letter-spacing: -0.3px;
    }
    .quote1{width: 55%; margin-left: 0;}
    .tablet-hero-img-container {width: 18rem; padding: 0; }
    .tablet-hero-img{margin-left: -8rem;}
    .stats{display: none;}
    .desktop-stats{
        display: block;
        width: 10%;
        padding: 0;
        margin-right: 3rem;
        margin-bottom: 6rem;
        justify-content: space-between;
        height: 16rem;
        
    }
    .desktop-stats div{
        margin-bottom: 3rem;
    }
    
    .white-space{height: 2rem;}
    .desktop-testimonial-2,.testmonial-body,.testimonial-name {
        text-align: left;}
    .desktop-testimonial-2{
        height: 430px; 
        padding: 4rem 0 0 2rem; 
        width: 325px;
        margin-bottom: -5rem;
        margin-right: -13rem;
    }
    .testimonial-name{
        margin-top: 3rem;
    }
    .testimonial-title {
        margin-bottom: 2.5rem;
       
    }
    
    .testimonial-body{
        padding-left: 0;
        line-height: 30px;
        letter-spacing: 5rem;
    }
    .testimonial-content{flex-direction: row; padding: 0; height: 34rem;}
    .jeremy-img-container{display: none;}
    .jeremy-img-container-big{
        display: block; 
        left: 5.5rem; 
        width: 17.5rem;
        margin-bottom: -10rem;
        position: absolute;
        left: 4.5rem;
        top: -3rem;
    
    }
    .blurred-bg{
        width: 26rem;
        padding: 3rem; 
        padding-left: 3rem;
        margin-left: -20rem; 
        margin-bottom: -10rem;
    }
    .background{
        width: 1248px;
        height: 350px;
        position: absolute;
        top: 1111px;
    }
}